body {
    background-color: #eeffbb;
    font-family: sans-serif;
}

main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    margin: auto;
    text-align: center;
}

#content {
    position: absolute;
    height: 64em;
    width: 48em;
    top: -32em;
    left: -24em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.8s, opacity 0.8s;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.8s, opacity 0.8s;
}

button {
    background: none;
    font-size: 1.5rem;
    font-weight: 100;
    border: 0.1em solid transparent;
    display: inline;
    cursor: pointer;
    padding: 0.25em 0.45em 0.3em;
}

button:hover {
    border-color: black;
    border-radius: 30px;
    transition: border-top 0.03s 0.03s, border-right 0.03s 0.06s, border-bottom 0.03s 0.09s, border-left 0.03s 0.12s;
}

h1 {
    font-size: 12rem;
    margin: 0;
    font-weight: 100;
}

h2 {
    font-size: 1.8em;
    font-weight: 500;
    white-space: pre;
    margin-top: 0;
    display: none;
}

h1 ~ h2{
    display: block;
}

h2:first-child {
    display: block;
}